<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
        <h2>Book App</h2>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dashboard') }}">
                &nbsp;<i class="fa-solid fa-house"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dashboard
            </a>
        </li>
        <li class="nav-title">Main Menu</li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('book') }}">
                &nbsp;<i class="fa-solid fa-book"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Book
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('book_create') }}">
                &nbsp;<i class="fa-solid fa-list"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Category
            </a>
        </li>
</div>