{% extends 'layout/admin/base.html' %}

{% block title %} List Book - BookApps {% endblock %}

{% block body %}
<div class="body flex-grow-1">
    <div class="container-lg">
        <div class="card mb-4">
            <div class="card-header">Data Buku</div>
            <div class="card-body">
                <div class="row">
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Sampul</th>
                                <th>Judul</th>
                                <th>Penulis</th>
                                <th>Penerbit</th>
                                <th>Tahun Terbit</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><button class="btn btn-sm btn-primary" type="button">Edit</button>
                                    <button class="btn btn-sm btn-danger" type="button">Hapus</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}